<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Suite">
    <test thread-count="4" name="Sample Test" parallel="methods">
        <classes>
            <class name="com.auto.tests.LoginPageTest"/>
            <class name="com.auto.tests.HomePageTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->